{% extends "base.html" %}

{% block body %}
  <div class="container animated fadeIn">
    <h1 class="greetings">Greetings! I'm a designer with an affinity for the web, user interfaces, typography, &amp; using systems to make design scale.</h1>
    <h2 class="sub">Selected Works —</h2>
    <div class="gallery cf">
      <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/casecreator-screen-1.png' %}" alt="Image description" />
      <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/casecreator-screen-2.png' %}" alt="Image description" />
      <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/casecreator-screen-3.png' %}" alt="Image description" />
      <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/casecreator-screen-4.png' %}" alt="Image description" />
      <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/casecreator-screen-5.png' %}" alt="Image description" />
      <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/casecreator-screen-6.png' %}" alt="Image description" />

      <!-- <ul>
        <li><a href="#slide1"><img src="{% static '/static/images/casecreator-screen-1.png' %}" alt=""></a></li>
        <li><a href="#slide2"><img src="{% static '/static/images/casecreator-screen-2.png' %}"  alt=""></a></li>
        <li><a href="#slide3"><img src="{% static '/static/images/casecreator-screen-3.png' %}" alt=""></a></li>
        <li><a href="#slide3"><img src="{% static '/static/images/casecreator-screen-4.png' %}" alt=""></a></li>
        <li><a href="#slide3"><img src="{% static '/static/images/casecreator-screen-5.png' %}" alt=""></a></li>
        <li><a href="#slide3"><img src="{% static '/static/images/casecreator-screen-6.png' %}" alt=""></a></li>
      </ul> -->
    </div>
  </div>

{% endblock %}
