{% extends "base.html" %}

{% block body %}
  <div class="container animated fadeIn">
    <h1 class="greetings">Greetings! I'm a designer with an affinity for the web, user interfaces, typography, &amp; using systems to make design scale.</h1>
    <h2 class="sub">Selected Works —</h2>
  </div><!-- end container -->

    <div class="wrap">
      <div class="container">
        <div class="gallery cf">

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/lk-board-1.png' %}" alt="Image description" />
        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/lk-board-3.png' %}" alt="Image description" />
        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/lk-board-2.png' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/lk-designprinciples.png' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/lk-mobile-login-1.png' %}" alt="Image description" />
        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/lk-mobile-login-2.png' %}" alt="Image description" />
        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/lk-mobile-login-3.png' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/lk-cardidea.png' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/lk-account-settings.png' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/analyticsicons.png' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/lk-userprofile.png' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/lkchromeextension.png' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/lk-uipatterns.png' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/lk-usingpatterns.png' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/grididea.jpg' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/griffinnav.jpg' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/survivorcore.jpg' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/squaremerchant.png' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/beamhaus.png' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/smartplug-1.png' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/smartplug-3.png' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/griffin-checkout-mobile.png' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/casecreator.jpg' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/checkoutsuccess.jpg' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/ditkadash.jpg' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/when-1.jpg' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/when-2.jpg' %}" alt="Image description" />

        <img class="b-lazy b-error" src="{% static '/static/images/placeholder.png' %}" data-src="{% static '/static/images/work/vines.png' %}" alt="Image description" />
      </div><!-- end gallery --></div>
    </div><!-- end wrap -->

{% endblock %}
